﻿
@inject EZCourseNew.Services.EZAuth AuthService

@{
     var authinfo = AuthService.ScopeAuthInfo;
}

@if (authinfo.IsAuthenticated)
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="">Hello @authinfo.FirstName</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login"></a></li>
    </ul>

}

