﻿@model List<EZCourseNew.Controllers.TestController.User>
@{
    //Layout = "_TestLayout";
    ViewData["Title"] = "Title of Test - Index";
    //var users = ViewData["Users"] as List<EZCourseNew.Controllers.TestController.User>;
    var countHtml = $"<h2>{Model.Count} users</h2>";
}
@Html.Raw(countHtml)
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id @(user.Id == 2?"*" : "")</td>
            <td>@user.Name</td>
        </tr>

    }
</table>

@if (true)
{
    <text>True is true</text>

}

    <h1>This is my very first test page in MVC!!</h1>

    <h1>I made it! I changed some code without closing the debugger!!</h1>

@*@section Scripts{ 
    <script>
        alert("I am a test-Index");
    </script>
}*@